@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Raleway', sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-board {
    width: 500px;
    height: 450px;
    background-color: #333333;
    border-radius: 10px;
}

.skill-board h1 {
    font-size: 40px;
    margin: 20px 0 30px;
    text-align: center;
    color: white;
}

.skills {
    box-sizing: border-box;
    list-style: none;
    padding: 20px 20px;
}

.skill {
    position: relative;
    border: 1px solid #6cd4c4;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin-bottom: 50px;
}

.skill::before, .skill::after {
    position: absolute;
}

.skill::before {
    content: attr(data-skill);
    top: -110%;
    left: 0;
}

.skill::after {
    --progress-value: attr(data-progress);
    content: attr(data-progress) "%";
    top: -110%;
    right: 0;
}

.progress {
    border-radius: 5px;
    background: linear-gradient(90deg, crimson, yellow);
    height: 15px;
    animation: progressing 1s linear;
    animation-fill-mode: both;
}

.skill:nth-child(1) .progress{

}
.skill:nth-child(2) .progress{
    animation-delay: .2s;
}
.skill:nth-child(3) .progress{
    animation-delay: .4s;
}
.skill:nth-child(4) .progress{
    animation-delay: .6s;
}
.skill:nth-child(5) .progress{
    animation-delay: .8s;
}

@keyframes progressing {
    0% {
        width: 0;
    }
}
