/* Google Web Fonts CDN */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,900&display=swap');
/*font-family: 'Noto Sans KR', sans-serif;*/

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/*font-family: 'Raleway', sans-serif;*/

/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
/*font-family: 'Montserrat', sans-serif;*/

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
}

input[name=tabmenu] {
    display: none;
}

.slide {
    /*overflow: hidden;*/
}

.slide-inner {
    position: relative;
    width: 300%;
    height: 100vh;
    transition: .5s;
}

.slide-inner div {
    width: 33.33333%;
    height: inherit;
    font-size: 60px;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    float: left;
    transition: .5s;
    text-align: center;
    position: relative;
}

.slide-inner div:nth-child(1) {
    background-image: url("images/photo-01.jpg");
}

.slide-inner div:nth-child(2) {
    background-image: url("images/photo-02.jpg");
}

.slide-inner div:nth-child(3) {
    background-image: url("images/photo-03.jpg");
}

.slide-inner div:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-inner div:nth-child(1)::before {
    background: linear-gradient(to bottom right, gold, transparent);
}

.slide-inner div:nth-child(2)::before {
    background: linear-gradient(to bottom right, crimson, transparent);
}

.slide-inner div:nth-child(3)::before {
    background: linear-gradient(to bottom right, royalblue, transparent);
}

.slide-inner div h1 {
    margin: 0;
    padding: 0;
    opacity: 0;
    transform: translateY(-200px);
    transition: .4s .5s;
}

.btn {
    position: fixed;
    width: 100%;
    height: 5vh;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    z-index: 9999;
}

.btn label {
    cursor: pointer;
}

.btn label + label {
    margin-left: 30px;
}

input[id=tab1]:checked ~ .btn label[for=tab1],
input[id=tab2]:checked ~ .btn label[for=tab2],
input[id=tab3]:checked ~ .btn label[for=tab3] {
    color: crimson;
}

input[id=tab1]:checked ~ .slide .slide-inner {
    left: 0;
}

input[id=tab2]:checked ~ .slide .slide-inner {
    left: -100%;
}

input[id=tab3]:checked ~ .slide .slide-inner {
    left: -200%;
}

input[id=tab1]:checked ~ .slide .slide-inner div:nth-child(1) h1,
input[id=tab2]:checked ~ .slide .slide-inner div:nth-child(2) h1,
input[id=tab3]:checked ~ .slide .slide-inner div:nth-child(3) h1 {
    opacity: 1;
    transform:translateY(300px);
}

