@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #222;
    text-decoration: none;
}

.gnb {

}

.gnb a {
    display: block;
    font-size: 25px;
    margin-top: 10px;
}

.gnb a::after {
    content: '';
    display: block;
    margin-top: 5px;
    height: 2px;
    background-color: red;
    transition: .5s;
    position: relative;
}

.gnb a:nth-child(1)::after {
    width: 0;
}

.gnb a:nth-child(1):hover::after {
    width: 100%;
}

.gnb a:nth-child(2)::after{
    width: 100%;
}
.gnb a:nth-child(2):before {
    content: '';
    display: block;
    height: 2px;
    position: relative;
    /*top: ;*/
    background-color: black;
}

